In [2]:
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError
import pandas as pd
 
code = 4503 # Astellas's company code used in Tokyo stock exchange
S_year = 5 # period (year)
S_day = 1 # daily

In [3]:
def stock_price():
    company_code = str(code) + '.T'
    my_share = share.Share(company_code)
    symbol_data = None
 
    try:
        symbol_data = my_share.get_historical(share.PERIOD_TYPE_YEAR,
                                              S_year,
                                              share.FREQUENCY_TYPE_DAY,
                                              S_day)
    except YahooFinanceError as e:
        print(e.message)
        sys.exit(1)
        
    df_base = pd.DataFrame(symbol_data)
    df_base = pd.DataFrame(symbol_data.values(), index=symbol_data.keys()).T
    df_base.timestamp = pd.to_datetime(df_base.timestamp, unit='ms')
    df_base.index = pd.DatetimeIndex(df_base.timestamp, name='timestamp').tz_localize('UTC').tz_convert('Asia/Tokyo')
    df_base = df_base.reset_index(drop=True)
        
    return company_code, df_base

In [4]:
result = stock_price()
print(str(result[0]), result[1].shape)
 
df_base = result[1]
 
df_base.head()

4503.T (1242, 6)

   timestamp    open    high     low   close     volume
0 2017-02-13  1537.5  1545.5  1529.0  1538.5  6145400.0
1 2017-02-14  1537.0  1538.5  1527.0  1530.0  7026700.0
2 2017-02-15  1540.5  1549.0  1538.5  1545.0  5353900.0
3 2017-02-16  1545.0  1554.0  1530.0  1539.0  6354300.0
4 2017-02-17  1522.5  1543.0  1521.5  1543.0  5465500.0