In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
from datetime import datetime
import time
import os
import warnings
warnings.filterwarnings("ignore")

######################
# METADATA
######################
input_folder = r'C:\Users\A4023862\OneDrive - Astellas Pharma Inc\Forecasting Product\scm'
results = 'old_to_new_mi_compare.xlsx'
actuals = 'raw1 (4).csv'
results_path = os.path.join(input_folder, results)
actuals_path = os.path.join(input_folder, actuals)

old=pd.read_excel(results_path, sheet_name='Old MI')
new=pd.read_excel(results_path, sheet_name='New MI')
act=pd.read_csv(actuals_path)

In [2]:
# Data Prep

fct=old[['PRDID', 'LOCID', 'KEYFIGUREDATE', 'ZAIAFCSTLOADPRODLOC old','ZAIAFCSTLOADPRODLOC new']]
fct.columns=['prdid', 'locid', 'ds', 'y_old', 'y_new']
fct['tag']= fct['locid'].astype(str) + '_' + fct['prdid'].astype(str)

# Dates
fct['ds']=pd.to_datetime(fct['ds'])
act['ds']=pd.to_datetime(act['ds'])

In [31]:
data = pd.merge(fct, act[['tag', 'ds','product_group','value']], on=['tag', 'ds'], how='outer')
tags=['AT50_152859',
'AU52_148863',
'AU52_148865',
'AU52_152862',
'AU52_159714',
'BE50_1000311',
'BR52_123194',
'CA52_C815101',
'CH50_116121',
'CH50_116122',
'CH50_121135',
'CH50_142543',
'CN52_157635',
'CO52_153469C',
'CZ50_120361',
'CZ50_141575',
'CZ50_161885',
'CZ53_152882',
'DE50_119311',
'DE50_152883',
'ES50_121142',
'ES50_156325',
'GB52_114316',
'GB52_121149',
'HK52_152899',
'HU50_113536',
'ID52_152905',
'IE50_111263',
'IT50_114332',
'IT50_121157',
'IT50_139461',
'IT50_152910',
'JP53_00156',
'JP53_00209',
'JP53_00777',
'JP53_01402',
'JP53_03150',
'JP53_09043',
'JP53_10096',
'JP53_10113',
'JP53_10149',
'JP53_10322',
'JP53_10365',
'JP53_10424',
'JP53_10468',
'JP53_10518',
'JP53_10541',
'JP53_11021',
'JP53_13176',
'JP53_13178',
'JP53_13946',
'JP53_17202',
'JP53_18260',
'JP53_73179',
'JP53_73182',
'JP54_00156',
'JP54_00238',
'JP54_00771',
'JP54_00774',
'JP54_01293',
'JP54_01323',
'JP54_01402',
'JP54_02292',
'JP54_02819',
'JP54_02898',
'JP54_03150',
'JP54_04143',
'JP54_04864',
'JP54_09043',
'JP54_10102',
'JP54_10113',
'JP54_10149',
'JP54_10324',
'JP54_10327',
'JP54_10373',
'JP54_10391',
'JP54_10424',
'JP54_10433',
'JP54_10521',
'JP54_10534',
'JP54_10579',
'JP54_10598',
'JP54_13176',
'JP54_13178',
'JP54_13183',
'JP54_13946',
'JP54_13969',
'JP54_13971',
'JP54_18251',
'JP54_19920',
'JP54_73179',
'JP54_73182',
'JP55_02817',
'JP55_02895',
'JP55_03513',
'JP55_03535',
'JP55_04140',
'JP55_04141',
'JP55_05283',
'JP55_10065',
'JP55_10148',
'JP55_10149',
'JP55_10263',
'JP55_10322',
'JP55_10541',
'JP55_10594',
'JP55_10598',
'JP55_10679',
'JP55_13177',
'JP55_13184',
'JP55_16701',
'JP55_16715',
'JP55_17202',
'KR52_128073',
'KR52_141895',
'MY52_10397',
'MY52_13001',
'MY52_147456',
'PH52_144147',
'PT50_114384',
'PT50_152952',
'PT50_160546',
'RU01_153691',
'RU01_158369',
'RU01_160299',
'RU01_160560',
'RU01_162875',
'RU01_162876',
'SG52_10399',
'SG52_145124',
'TH52_121232',
'TH52_152979',
'TR50_152411',
'US52_061773',
'US53_065773',
'US53_12599',
'US53_260130',
'ZA50_135664',
'AU52_142431',
'BE50_140018',
'CO52_1000536',
'CO52_901878',
'DE50_160390',
'ES50_1000271',
'ES50_1000272',
'ES50_141234',
'ES50_142339',
'FR50_134232',
'FR50_144064',
'HU50_142262',
'IN52_156432',
'JP53_2825',
'JP53_5266',
'JP55_1404',
'JP55_2825',
'JP55_2835',
'RU01_135092',
'TH52_133044',
'ZA50_141551',
'AL_153350',
'AZ_151259',
'BA_141066',
'BA_141329',
'BA_141330',
'BA_152969',
'CY_119964',
'CY_120383',
'DK_152940',
'FI_152937',
'FI_152939',
'IS_114337',
'IS_138897',
'IS_152942',
'LT_142304',
'MK_146539',
'MT_161002',
'NO_121141',
'SE_120395',
'SE_128858',
'SE_152938',
'UA_135458',
'UA_139841',
'UA_147758',
'UA_147760',
'BY_128428',
'GR_160485',
'KZ_146989',
'NL_109641']

q=data[data['tag'].isin(tags)]

In [22]:
# data1=data[['tag', 'ds', 'y_old']]
# data1.columns=['tag', 'ds', 'y']
# data1['type']='old'

# data2=data[['tag', 'ds', 'y_new']]
# data2.columns=['tag', 'ds', 'y']
# data2['type']='new'

# data3=data[['tag', 'ds', 'value']]
# data3.columns=['tag', 'ds', 'y']
# data3['type']='actuals'

# data4 = pd.concat([data1, data2, data3], ignore_index=True)

# q=data4[data4['tag']=='AT50_152859']

                 tag         ds    y     type
0        AT50_121131 2024-06-01  0.0      old
1        AT50_121131 2024-07-01  0.0      old
2        AT50_121131 2024-08-01  0.0      old
3        AT50_121131 2024-09-01  0.0      old
4        AT50_121131 2024-10-01  0.0      old
...              ...        ...  ...      ...
1077115  ZA50_162599 2022-04-01  0.0  actuals
1077116  ZA50_162599 2022-05-01  0.0  actuals
1077117  ZA50_162599 2022-06-01  0.0  actuals
1077118  ZA50_162599 2022-07-01  0.0  actuals
1077119  ZA50_162599 2022-08-01  0.0  actuals

[1077120 rows x 4 columns]

In [32]:
q.to_csv(r"C:\Users\A4023862\OneDrive - Astellas Pharma Inc\Forecasting Product\scm\tags.csv")